# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.gradle
gradlew.bat
/gradlew
/gradle/
/build/
/build.gradle
/A3_readme.txt

